<div class="hero-unit">
	<h2>Edit Contact</h2>
	<br>
	<%= simple_form_for(@contact, :html => {:class => 'form-horizontal' }) do |f| %>
		<%= f.input :first_name %>
		<%= f.input :last_name %>
		<%= f.input :email %>
		<%= f.input :bill_amount %>
		<%= f.submit %>
	<% end %>
</div>