
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span>        
      </a>


      <nav>
        <div class="nav-collapse">
          <%=link_to(image_tag("ball.png", :size => "60x60", :alt=> "Logo"),
             root_path, :title=>"Return Home", :class=>"logo") %>
          <ul class="nav pull-right"> 
            <li><h3><%= link_to "Contacts", contacts_path %></h3></li> 
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>    
            <li><h3><%= link_to "Leads", contacts_path %></h3></li>   
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li> 
            <li><h3><%= link_to "To Do's", contacts_path %></h3></li> 
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>

            <li class="dropdown">
              <div class="nav-logins">
              <% if user_signed_in? %>
                
                  <h5><%= link_to 'Logged in' %>
                 



 
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <%= link_to "Logout", destroy_user_session_path, method: :delete %></h5>
                
              <% else %>  
                <li> <%= link_to "Sign up", new_user_registration_path %> |</li>
                <li> <%= link_to "Login", new_user_session_path %></li>
              <% end %> 
            </div>
            </li> 
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>